* text=auto
.gitattributes text eol=lf

*.sh text eol=lf
*.cgi text eol=lf
*.conf text eol=lf
*.c text eol=lf
*.h text eol=lf
*.py text eol=lf
*.js text eol=lf
*.css text eol=lf
*.html text eol=lf
*.md text eol=lf
LICENSE text eol=lf
.gitignore text eol=lf
App.Native.UGreenLED/manifest text eol=lf
App.Native.UGreenLED/cmd/* text eol=lf
App.Native.UGreenLED/config/* text eol=lf
App.Native.UGreenLED/app/ui/config text eol=lf
App.Native.UGreenLED/app/server/driver/led-ugreen/Makefile text eol=lf

*.png binary
*.woff binary
*.woff2 binary
*.fpk binary
*.zip binary
App.Native.UGreenLED/app/server/bin/ugreen_leds_cli binary
App.Native.UGreenLED/app/server/vendor/ugreen_leds_controller/patches/*.patch text eol=lf whitespace=-trailing-space,-space-before-tab
